<h1>Password Generator</h1>
<form action="{% url 'generator:result' %}" method="POST">
    <select name='length' required>
        <option value="" disabled selected>Choose length</option>
        <option value="6">6 characters</option>
        <option value="7">7 characters</option>
        <option value="8">8 characters</option>
        <option value="9">9 characters</option>
        <option value="10">10 characters</option>
    </select>

    <label for="numbers">Include numbers</label>
    <input type="checkbox" id='numbers' name='numbers'>

    <label for="upper">Include uppercase</label>
    <input type="checkbox" id='upper' name="upper">

    <label for="numbers">Include sepecial characters</label>
    <input type="checkbox" id='special' name="special">

    {% csrf_token %}
    <button type="submit">Generate</button>
</form>
<a href="{% url 'generator:about' %}">About page</a>